.default-date-input.MuiTextField-root .MuiInputLabel-root {
    width: 100%;
    font-size: 1rem;
    color: #FFFFFF;
}

.default-date-input .MuiInputLabel-root.Mui-focused {
    color: #ffffff;
}

.default-date-input .MuiInputBase-root .MuiInput-input {
    height: 24px;
    /*margin-top: 10px;*/
}

.default-date-input .MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
}

.default-date-input input {
    color: white;
}

.default-date-input .MuiInput-underline:after {
    border-bottom: 2px solid rgb(178, 193, 94);
}

.default-date-input .MuiInput-underline:before, .default-date-input .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom-color: #666666;
}